.button-gradient {
  height: 5rem;
  width: 20rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 12%,
    rgba(107, 107, 107, 1) 40%,
    rgba(65, 65, 65, 1) 64%,
    rgba(31, 31, 31, 1) 84%
  );
  color: white;
  border: none;

  position: relative;
  z-index: 1;

  .button {
    margin-right: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: linear-gradient(
      90deg,
      rgba(20, 20, 20, 1) 12%,
      rgba(65, 65, 65, 1) 47%,
      rgba(215, 214, 214, 1) 73%,
      rgba(255, 255, 255, 1) 93%
    );
    border-radius: 1.6rem;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    .arrow-icon {
      transform: translateX(4rem);
      transition: all ease 1s;
    }
    .button {
      transform: translateX(1rem);
      transition: all ease 1s;
    }
  }
}
